.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  padding: 5rem;
  color: #fff;
  margin-bottom: 5rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--secondary);
  margin-bottom: 5rem;
}

.title > p:nth-child(1) {
  font-size: 2rem;
  color: var(--tertiary);
}

.title > p:nth-child(2) {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.title > p:nth-child(3) {
  border-bottom: 1px grey solid;
  width: 30rem;
  margin: 0.5rem auto;
}

.wrapper > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10rem;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.social > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: rgb(217, 217, 217);
  text-align: left;
}

.social > div a {
  color: var(--secondary);
  display: flex;
}

.social > div a:hover {
  color: var(--tertiary);
}

.icon {
  font-size: 1.7rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--secondary);
}

.contact > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: left;
  word-break: break-word;
  font-size: 1.8rem;
  color: var(--secondary);
}

.contact > p:nth-child(1) {
  font-size: 2.8rem;
  color: var(--tertiary);
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}

.contact > p:nth-child(2) {
  margin-bottom: 0.5rem;
}

.iconMail {
  margin-top: 0.3rem;
}

@media (max-width: 430px) {
  .wrapper {
    padding: 2rem;
  }

  .title > p:nth-child(2) {
    font-size: 2.5rem;
  }

  .title > p:nth-child(3) {
    width: 100%;
  }

  .wrapper > div:nth-child(2) {
    flex-direction: column;
    gap: 5rem;
  }

  .social > div {
    font-size: 1.2rem;
  }

  .contact > p {
    font-size: 1.2rem;
  }

  .contact > p:nth-child(1) {
    font-size: 2rem;
  }
}
